.main {
    display: flex;
}

.red {
    z-index: 1;
    min-width: 100px;
    max-width: 400px;
    min-height: 250px;
    background-color: red;
}

.blue {
    min-width: 100px;
    max-width: 400px;
    min-height: 250px;
    background-color: blue;
}

.green {
    position: fixed;
    left: 30px;
    top: 30px;
    min-width: 100px;
    max-width: 400px;
    min-height: 250px;
    background-color: green;
}