div {
    overflow-x: auto;
}

table, td, th {
    border: 1px solid blueviolet;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: green;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: aqua;
}

tr:hover {
    background-color: blue;
}