.divTransformTransition {
    width: 100px;
    height: 100px;
    background: red;
    transition: background 2s, transform 2s;;
}

.divTransformTransition:hover {
    background: blue;
    transform: rotate(180deg);
}